# Backend Environment Variables
PORT=5000
MONGO_URI=mongodb://localhost:27017/infratrack
JWT_SECRET=your_jwt_secret_key_production
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Optional Mailer
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=

# Frontend Environment Variables
VITE_API_URL=http://localhost:5000/api
